AppDigitalCv/AppDigitalCv/Connected Services/Usuarios/wsusuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaUsuarios2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_seguridad" type="tns:Seguridad" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Seguridad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SegUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaUsuarios2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaUsuarios2Result" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="tns:EnumCodigosError" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccesoUsuario" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo_Electronico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoUsuario" type="tns:EnumTipoUsuario" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPersonal" type="tns:EnumTipoPersonal" />
          <s:element minOccurs="0" maxOccurs="1" name="Universidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EnumCodigosError">
        <s:restriction base="s:string">
          <s:enumeration value="correcto" />
          <s:enumeration value="ErrorConexion" />
          <s:enumeration value="errorCatch" />
          <s:enumeration value="errorAutentificacion" />
          <s:enumeration value="errorSeguridad" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EnumTipoUsuario">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Usuario_Interno" />
          <s:enumeration value="Usuario_Universidades_Rectores" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EnumTipoPersonal">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Docente" />
          <s:enumeration value="Administrativo" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ConsultaUsuarios3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_seguridad" type="tns:Seguridad" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuarios3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaUsuarios3Result" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_seguridad" type="tns:Seguridad" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaUsuariosResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuariosAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_seguridad" type="tns:Seguridad" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuariosAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaUsuariosAlumnoResult" type="tns:MessageAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageAlumno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="tns:EnumCodigosError" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccesoUsuario" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuatrimestre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdAlumno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarHorarioProfesor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_seguridad" type="tns:Seguridad" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarHorarioProfesorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarHorarioProfesorResult" type="tns:MessageHorarios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageHorarios">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="tns:EnumCodigosError" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrHorario" type="tns:ArrayOfHorario" />
          <s:element minOccurs="1" maxOccurs="1" name="AccesoUsuario" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHorario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Horario" nillable="true" type="tns:Horario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Horario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asignatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dia" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaUsuarios2SoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarios2" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuarios2SoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarios2Response" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuarios3SoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarios3" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuarios3SoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarios3Response" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuariosAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaUsuariosAlumno" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuariosAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaUsuariosAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarHorarioProfesorSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarHorarioProfesor" />
  </wsdl:message>
  <wsdl:message name="ConsultarHorarioProfesorSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarHorarioProfesorResponse" />
  </wsdl:message>
  <wsdl:portType name="wsusuariosSoap">
    <wsdl:operation name="ConsultaUsuarios2">
      <wsdl:input message="tns:ConsultaUsuarios2SoapIn" />
      <wsdl:output message="tns:ConsultaUsuarios2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios3">
      <wsdl:input message="tns:ConsultaUsuarios3SoapIn" />
      <wsdl:output message="tns:ConsultaUsuarios3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios">
      <wsdl:input message="tns:ConsultaUsuariosSoapIn" />
      <wsdl:output message="tns:ConsultaUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuariosAlumno">
      <wsdl:input message="tns:ConsultaUsuariosAlumnoSoapIn" />
      <wsdl:output message="tns:ConsultaUsuariosAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarHorarioProfesor">
      <wsdl:input message="tns:ConsultarHorarioProfesorSoapIn" />
      <wsdl:output message="tns:ConsultarHorarioProfesorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsusuariosSoap" type="tns:wsusuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaUsuarios2">
      <soap:operation soapAction="http://tempuri.org/ConsultaUsuarios2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios3">
      <soap:operation soapAction="http://tempuri.org/ConsultaUsuarios3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConsultaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuariosAlumno">
      <soap:operation soapAction="http://tempuri.org/ConsultaUsuariosAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarHorarioProfesor">
      <soap:operation soapAction="http://tempuri.org/ConsultarHorarioProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsusuariosSoap12" type="tns:wsusuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaUsuarios2">
      <soap12:operation soapAction="http://tempuri.org/ConsultaUsuarios2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios3">
      <soap12:operation soapAction="http://tempuri.org/ConsultaUsuarios3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConsultaUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaUsuariosAlumno">
      <soap12:operation soapAction="http://tempuri.org/ConsultaUsuariosAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarHorarioProfesor">
      <soap12:operation soapAction="http://tempuri.org/ConsultarHorarioProfesor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsusuarios">
    <wsdl:port name="wsusuariosSoap" binding="tns:wsusuariosSoap">
      <soap:address location="http://www.uttt.edu.mx/WS_Usuarios/wsusuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="wsusuariosSoap12" binding="tns:wsusuariosSoap12">
      <soap12:address location="http://www.uttt.edu.mx/WS_Usuarios/wsusuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>